* {
   font-family: tahoma;
   font-size: 12px;
   margin: 0px;
   padding: 0px;
}
table {
   border-collapse: collapse;
}
p {
   margin-top: 6px;
   margin-bottom: 6px;
}
ul {
   margin-top: 6px;
   margin-bottom: 6px;
   margin-left: 40px;
}
blockquote {
   margin-top: 6px;
   margin-bottom: 6px;
   margin-left: 20px;
   margin-right: 20px;
}
.content {
   width: 100%; 
   border-collapse: collapse;
}
.north-side {
   width: 100%;
   background-color: #07C6FF;
   padding: 10px;
}
.site-title {
   text-decoration: none;
   color: #FFFFFF;
   font-size: 20px;
   font-weight: bold;
}
.tile {
   width: 200px;
   background-color: #CBDBDF;
   font-size: 14px;
   margin-bottom: 4px;
   padding: 10px;
   padding-left: 20px;
}
.tile:hover {
   background-color: #C0C6C9;
}
.walletmenu {
   background-color: #CBDBDF;
   display: none;
   margin-bottom: 4px;
   margin-right: 4px;
}
.walletmenutd {
   background-color: #CBDBDF;
   font-size: 14px;
   padding: 10px;
   padding-left: 20px;
}
.walletmenutd:hover {
   background-color: #C0C6C9;
}
.west-side {
   width: 200px;
   padding-top: 4px;
}
.central {
   width: 100%;
   padding-top: 4px;
   padding-left: 4px;
}
.east-side {
   width: 180px;
   padding-top: 4px;
}
.online {
   width: 180px;
   height: 400px;
   background-color: #CBDBDF;
   font-size: 14px;
   overflow-y: scroll;
}
.im {
   position: absolute;
   top: 50px;
   left: 50px;
   width: 350px;
   height: 380px;
   border: 1px solid #C0C6C9;
   -moz-box-shadow: 3px 3px 4px #444;
   -webkit-box-shadow: 3px 3px 4px #444;
   box-shadow: 3px 3px 4px #444;
   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
   filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
   z-index: 99999;
}
.imt {
   width: 350px;
   height: 380px;
}
.imh {
   height: 22px;
   background: #C0C6C9;
}
.imb {
   height: 320px;
   background: #FFFFFF;
}
.imf {
   height: 30px;
   background: #C0C6C9;
}

/*  send Style Starts  */
.buttonsend {
   height: 22px;
   width: 148px;
   background: url('http://bdrf.info/style/button_send.png');
   border: 0px solid #FFFFFF;
}
/*  send Style Ends  */

/*  addressbook Style Starts  */
.buttonnewaddress {
   height: 22px;
   width: 89px;
   background: url('http://bdrf.info/style/button_new_address.png');
   border: 0px solid #FFFFFF;
}
.addressbookdiv {
   background: #FFFFFF;
   width: 100%;
   height: 380px;
   border: 1px solid #C0C6C9;
}
.addressbookscroll {
   width: 100%;
   height: 350px;
   overflow-y: scroll;
}
.addressbooktable {
   width: 100%;
   background: #FFFFFF;
   border: 1px solid #C0C6C9;
   font-size: 12px;
}
#rightside {
   width: 380px;
}
.addressbooktdt {
   height: 24px;
   background: #FFFFFF;
   border: 1px solid #C0C6C9;
}
.addressbooktdblock {
   height: 24px;
   width: 20px;
   background: #FFFFFF;
   border: 1px solid #C0C6C9;
}
.addressbooktda {
   height: 30px;
   background: #FFFFFF;
   border: 1px solid #C0C6C9;
   padding-left: 4px;
}
.addressbooktdb {
   height: 30px;
   background: #CBDBDF;
   border: 1px solid #C0C6C9;
   padding-left: 4px;
}
/*  addressbook Style Ends  */

/*  tx Style Starts  */
.txdiv {
   width: 100%;
   height: 400px;
   background: #FFFFFF;
   border: 1px solid #C0C6C9;
   overflow-y: scroll;
}
.txtdt {
   height: 24px;
   background: #FFFFFF;
   border: 1px solid #C0C6C9;
   font-size: 11px;
}
.txtda {
   height: 30px;
   background: #FFFFFF;
   border: 1px solid #C0C6C9;
   font-size: 11px;
   padding-left: 4px;
}
.txtdb {
   height: 30px;
   background: #CBDBDF;
   border: 1px solid #C0C6C9;
   font-size: 11px;
   padding-left: 4px;
}
/*  tx Style Ends  */

/*  faucet style start  */
.coin_box_rail {
   border-top: 4px solid #828790;
   height: 125px;
}
.coin_box {
   width: 100%;
   height: 0px;
   margin: 0px;
}
.coin {
   width: 88px;
   height: 105px;
   position: relative;
   top: -5px;
   left: 10px;
}
.targetnan {
   width: 88px;
   height: 105px;
   background: url('http://bdrf.info/style/target_nan.png');
   border: 0px solid #FFFFFF;
}
.targetmec {
   width: 88px;
   height: 105px;
   background: url('http://bdrf.info/style/target_mec.png');
   border: 0px solid #FFFFFF;
}
/*  faucet style end  */